/* ------------------------------ FONTS ------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600&family=Oswald&display=swap');


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: linear-gradient(to bottom left, #bfdac7, #d7cda0);
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.main-container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.box1 {
   background: linear-gradient(to right, #b26a71, #7c4556);
   height: 300px;
   width: 500px;
   border-radius: 20px;
   margin-top: 25px;
   z-index: 1;
}

.chip-space {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 80px;
}

.chip {
   display: flex;
   justify-content: space-between;
   padding: 25px 20px 0px 25px;
}

.chip-box {
   background: #d4d0cf;
   height: 54px;
   width: 73px;
   border-radius: 8px;
}

.chip-box-inner {
   margin: 10px 9px;
   border-radius: 5px;
   height: 30px;
   width: 50px;
   border: 3px solid #bcc4be;
}

.visa {
   color: white;
   font-size: 30px;
   font-weight: 500;
}

.visa-logo {
   width: 100px;
   height: 80px;
}

.card-number {
   display: flex;
   justify-content: space-between;
   margin: 0px 30px;
   color: #c5c1c0;
   font-size: 13px;
   font-family: 'Abel', sans-serif;
   font-family: 'Nunito Sans', sans-serif;
   font-weight: 500;
}


.box2 {
   background: white;
   height: 590px;
   width: 600px;
   z-index: -1;
   top: 180px;
   position: absolute;
   border-radius: 10px;
}



/* -------------------------------- Payment section --------------------------------- */
.payment-section {
   /* margin-top: 180px; */
   padding: 5px 30px;
   display: flex;
   flex-direction: column;
   gap: 25px;
   z-index: 1;
   width: 500px;
}

.card-size {
   font-size: 14px;
   color: rgb(158, 153, 153);
   font-weight: 400;
   font-family: 'Oswald', sans-serif;
}

.card-number-section {
   display: flex;
   flex-direction: column;
   gap: 5px;
   margin: 0px 30px;
}

.boxes {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

.equal1,
.equal2,
.equal3,
.equal4 {
   outline: 0;
   border: 0;
   width: 100px;
   height: 45px;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: inset 0 0 2px 2px rgba(153, 148, 148, 0.5);
   cursor: pointer;
}

.equal {
   outline: 0;
   border: 0;
   width: 462px;
   height: 45px;
   border-radius: 5px;
   background-color: #fff;
   box-shadow: inset 0 0 2px 2px rgba(153, 148, 148, 0.5);
   cursor: pointer;
}

.cvv-section {
   display: flex;
   justify-content: space-between;
   gap: 100px;
}

.boxes-in {
   display: flex;
   gap: 20px;
}

.btn-section {
   margin: 5px 30px;
   padding: 5px;
}

.sub-btn {
   padding: 18px;
   width: 460px;
   font-size: 22px;
   border: 0;
   background: #45959e;
   border-radius: 5px;
   color: white;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}